<aside class="blobTools">
    {% if site.github.pages_hostname == "github.io" %}
    <a href={{ site.github.repository_url }}/blob/{{ site.github.source.branch }}/{{ page.path }} title="Voir sur Github" class="blobGhLink tooltip"></a>
    <a href={{ site.github.repository_url }}/edit/{{ site.github.source.branch }}/{{ page.path }} title="Éditer sur Github" class="blobGhEdit tooltip"></a>
    {% elsif site.gitlab.pages_hostname == "gitlab.io" %}
    <a href={{ site.gitlab.repository_url }}/blob/master/{{ page.path }} title="Voir sur Gitlab" class="blobGhLink tooltip"></a>
    <a href={{ site.gitlab.repository_url }}/edit/master/{{ page.path }} title="Éditer sur Gitlab" class="blobGhEdit tooltip"></a>
    {% endif %}

    <a href="#top" class="blobPageTop">Haut de page</a>
</aside>

<article class=blobContent data-title=content>
    {{ content }}
    {% if  page.category %}
        {{ page.category | to }}
    {% endif %}
    {% if  page.author %}
        par {{ page.author }}, 
    {% endif %}
    {% if  page.updated %}
        le {{ page.updated }},
    {% endif %}
    {% if  page.licence %}
        sous licence {{page.licence}} 
    {% endif %}
    
    {% if page.tags %}
    <div class=tags>
        <ul>
            {% for tag in page.tags %}
            <li>{{ tag }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</article>