<div class=metas>
    <ul>
        {% if  page.type %}
            <li>
                {% for type in page.type %}
                    {% if type == "pub" or type == "bar" %}
                    <i class="fa fa-glass-cheers" title="{{ type }}"></i>
                    {% elsif type == "café" %}
                    <i class="fas fa-mug-hot" title="{{ type }}"></i>
                    {% elsif type == "restaurant" %}
                    <i class="fas fa-utensils" title="{{ type }}"></i>
                    {% elsif type == "jeux" %}
                    <i class="fas fa-dice" title="{{ type }}"></i>
                    {% elsif type == "végan" or type == "végétarien" %}
                    <i class="fas fa-seedling" title="{{ type }}"></i>
                    {% elsif type == "librairie" %}
                    <i class="fas fa-book" title="{{ type }}"></i>
                    {% elsif type == "vélo" %}
                    <i class="fas fa-bycicle" title="{{ type }}"></i>
                    {% elsif type == "épicerie" %}
                    <i class="fas fa-shopping-basket" title="{{ type }}"></i>
                    {% elsif type == "coworking" %}
                    <i class="fas fa-laptop" title="{{ type }}"></i>
                    {% elsif type == "atelier" or type == "bricolage" %}
                    <i class="fas fa-tools" title="{{ type }}"></i>
                    {% else %}
                    {{ type }}
                    {% endif %}
                {% endfor %}
            </li>
        {% endif %}
        {% if  page.par %}
            <li>Par : <a href="https://github.com/{{ page.par }}">{{ page.par }}</a></li> 
        {% endif %}
        {% if page.adresse %}
            <li>Adresse : 
            {% if page.osm %}
                <a href="https://www.openstreetmap.org/node/{{ page.osm }}">
            {% else %}
                <a href="https://www.openstreetmap.org/search?query={{ page.adresse }}, Montréal">
            {% endif %}
                {{ page.adresse }}</a>
                </li>
        {% endif %}
        {% if  page.transport %}
            <li>Transport : {{ page.transport }}</li> 
        {% endif %}
        {% if  page.site %}
            <li>Site : <a href="{{ page.site }}">{{ page.site }}</a></li> 
        {% endif %}
    </ul>
</div>
