<section id="ghTree" class="ghTree" data-title="tree">
    <header>
        <h2>BASE</h2>
    </header>
    {% for article in site['base'] %} {% unless article.url contains "index.html" or article["publié"] == 'non' %}
    <article class="ghTreeItem" data-title="dir">
        <h2 class="ghTreeTitle">
            <a class="folderLink" data-title="folderLink" href="{{ article.url }}">
                {{ article.title }}
            </a>
        </h2>
        <p class="ghTreeExcerpt" data-title="fileExcerpt">{{ article.description }}</p>
        <a class="ghTreeReadmore" title="Lire la suite de la fiche : {{ article.title }}" data-title="fileReadmoreLink" href="{{ article.url }}">Lire la suite de la fiche</a>
    </article>
    {% endunless %} {% endfor %}
</section>
<section id="ghTree" class="ghTree" data-title="tree">
    <hr>
    <header>
        <h2>INTERMEDIAIRE</h2>
    </header>
    {% for article in site['intermediaire'] %} {% unless article.url contains "index.html" or article["publié"] == 'non' %}
    <article class="ghTreeItem" data-title="dir">
        <h2 class="ghTreeTitle">
            <a class="folderLink" data-title="folderLink" href="{{ article.url }}">
                {{ article.title }}
            </a>
        </h2>
        <p class="ghTreeExcerpt" data-title="fileExcerpt">{{ article.description }}</p>
        <a class="ghTreeReadmore" title="Lire la suite de la fiche : {{ article.title }}" data-title="fileReadmoreLink" href="{{ article.url }}">Lire la suite de la fiche</a>
    </article>
    {% endunless %} {% endfor %}
</section>
<section id="ghTree" class="ghTree" data-title="tree">
    <hr>
    <header>
        <h2>EXPERT</h2>
    </header>
    {% for article in site['expert'] %} {% unless article.url contains "index.html" or article["publié"] == 'non' %}
    <article class="ghTreeItem" data-title="dir">
        <h2 class="ghTreeTitle">
            <a class="folderLink" data-title="folderLink" href="{{ article.url }}">
                {{ article.title }}
            </a>
        </h2>
        <p class="ghTreeExcerpt" data-title="fileExcerpt">{{ article.description }}</p>
        <a class="ghTreeReadmore" title="Lire la suite de la fiche : {{ article.title }}" data-title="fileReadmoreLink" href="{{ article.url }}">Lire la suite de la fiche</a>
    </article>
    {% endunless %} {% endfor %}
</section>
<section id="ghTree" class="ghTree" data-title="tree">
    <hr>
    <header>
        <h2>TRADUCTION</h2>
    </header>
    {% for article in site['traduction'] %} {% unless article.url contains "index.html" or article["publié"] == 'non' %}
    <article class="ghTreeItem" data-title="dir">
        <h2 class="ghTreeTitle">
            <a class="folderLink" data-title="folderLink" href="{{ article.url }}">
                {{ article.title }}
            </a>
        </h2>
        <p class="ghTreeExcerpt" data-title="fileExcerpt">{{ article.description }}</p>
        <a class="ghTreeReadmore" title="Lire la suite de la fiche : {{ article.title }}" data-title="fileReadmoreLink" href="{{ article.url }}">Lire la suite de la fiche</a>
    </article>
    {% endunless %} {% endfor %}
</section>