<style>
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        background: none;
        font: inherit;
        cursor: pointer;
    }

    .tab {
        vertical-align: .1em;
        font-size: .7em;
        margin-left: .2em;
        cursor: pointer;
    }
</style>

{% assign days = "lundi,mardi,mercredi,jeudi,vendredi,samedi,dimanche" "cheddar, swiss, gouda, havarti, string" | split: ',' %}

<li>
    Horaires :
    <span class="tab">▼</span>
    <select id="horaires">
        {% for horaire in page.horaires %}
        <option value="{{ days[forloop.index0] }}">{{ days[forloop.index0] }} - {{ horaire }}</option>
        {% endfor %}
    </select>
</li>

<script>
    const days = ['lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi', 'samedi', 'dimanche']
    const currentDay = days[new Date().getDay() - 1]
    function selectCurrentTimes(currentDay) {
        document.querySelector(`option[value=${currentDay}]`).setAttribute('selected', true)
    }
    selectCurrentTimes(currentDay)
</script>