/*  placez votre code css ici */

body {
  font-size: 1em;
}

h1 {
  font-family: $police;
  color: $couleur-titre;
}

.container {
  width: 100%;
  max-width: 845px;
  padding-right: 1em;
  padding-left: 1em;
}

header .search-engine input[type="submit"] {
  font-size: 1.1rem;
}

.blobContent h1 {
  font-size: 2.3rem;
}

.blobContent h2 {
  font-size: 2rem;
}

.blobContent h3 {
  font-size: 1.4875rem;
}

.blobContent h4 {
  font-size: 1.1875rem;
  font-size: 1.4875rem;
}

.blobContent table {
  font-size: 1.488rem;
}

.ghTypeFile h2:before {
  background: url('data:image/svg+xml,<svg height="16" width="12" xmlns="http://www.w3.org/2000/svg"><path d="M6 5H2v-1h4v1zM2 8h7v-1H2v1z m0 2h7v-1H2v1z m0 2h7v-1H2v1z m10-7.5v9.5c0 0.55-0.45 1-1 1H1c-0.55 0-1-0.45-1-1V2c0-0.55 0.45-1 1-1h7.5l3.5 3.5z m-1 0.5L8 2H1v12h10V5z" fill="rgba(115, 213, 107, 1)" /></svg>') 0 0 no-repeat;
}

.banner {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 610px;
  padding: 0;
  color: #002920;
  text-align: center;
  background: url(/assets/danslajungle.png) center center no-repeat;
}

.banner h1,
.banner p {
  margin: 0;
}

.banner h1 {
  margin-right: .5em;
  margin-left: .5em;
  padding: 0;
  font-size: 3.2em;
  color: #002920;
  text-transform: uppercase;
}
