/* réglages géneraux  */
$police: "Open Sans", Arial, sans-serif;
$couleur-texte: #4d4d4d;
$couleur-fond: rgb(252, 249, 255);
$couleur-bordure: #29abe2;

/* les liens  */
$couleur-lien: #29abe2;

/* les titres  */
$couleur-titre: #29abe2;
$police-titre: "Montserrat", Arial, sans-serif;
$couleur-titre-lien: #4d4d4d;
$couleur-titre-span: #29abe2;

/* en-tete */
$couleur-bordure-entete: #000;

/* contenu */
$police-contenu: Georgia, "Times New Roman", Times, serif;
$couleur-contenu: rgba(0, 0, 0, 0.7);
$couleur-bordure-image: #29abe2;
$couleur-contenu-lien: #4d4d4d;
$couleur-fond-citation: #fff;
$couleur-bordure-contenu-lien: #4d4d4d;
$couleur-contenu-lien-survol: #29abe2;
$couleur-contenu-lien-bordure-survol: #29abe2;
$couleur-bordure-citation: #29abe2;
